<header>
  <svg viewBox="0 0 48 48">
    <g fill="currentcolor">
      <path
        d="m45 5.5-2.5-2.4a10.5 10.5 0 0 0-14.9 0l-5.2 5.2a.7.7 0 0 0 .3 1.2l6.2 2a.7.7 0 0 0 .7-.2l2.8-2.8a3.8 3.8 0 0 1 5.3 0l1.8 1.8a3.7 3.7 0 0 1 0 5.3L29 26a3.7 3.7 0 0 1-1.7 1 3.8 3.8 0 0 1-3.6-1l-1-1v-.1a.7.7 0 0 0-.6-.3.7.7 0 0 0-.5.2L17.6 29a.7.7 0 0 0 0 1l1.4 1.5a10.4 10.4 0 0 0 3.7 2.4 10.6 10.6 0 0 0 3.8.7 10.5 10.5 0 0 0 6-1.9 10.3 10.3 0 0 0 1.4-1.2l11-11a10.6 10.6 0 0 0 0-14.9Zm-1.1 13.9-11 11a9.1 9.1 0 0 1-12.9 0l-.9-1 3-3 .7.6a5.2 5.2 0 0 0 7.3 0l10.4-10.4a5.2 5.2 0 0 0 0-7.3l-1.8-1.8a5.2 5.2 0 0 0-7.3 0L28.9 10l-4.6-1.6 4.3-4.3a9 9 0 0 1 12.9 0l2.4 2.4a9.1 9.1 0 0 1 0 12.9Z"
      ></path>
      <path
        d="m25.3 38.5-6.2-2a.7.7 0 0 0-.7.2l-2.8 2.8a3.8 3.8 0 0 1-5.3 0l-1.8-1.8a3.7 3.7 0 0 1 0-5.3L19 22a3.7 3.7 0 0 1 1.7-1 3.7 3.7 0 0 1 3.6 1l1 1v.1a.7.7 0 0 0 .6.3.8.8 0 0 0 .5-.2l4.1-4.1a.7.7 0 0 0 0-1L29 16.5a10.4 10.4 0 0 0-3.7-2.4 10.6 10.6 0 0 0-9.7 1.2 10.3 10.3 0 0 0-1.5 1.2l-11 11a10.5 10.5 0 0 0 0 14.9l2.4 2.4a10.5 10.5 0 0 0 14.9 0l5.2-5.2a.7.7 0 0 0-.3-1.2Zm-6 5.4a9 9 0 0 1-12.8 0l-2.4-2.4a9 9 0 0 1 0-12.9l11-11a8.9 8.9 0 0 1 1.3-1 9.1 9.1 0 0 1 8.4-1 9 9 0 0 1 3.2 2l.9 1-3 3-.7-.6a5.2 5.2 0 0 0-7.3 0L7.5 31.4a5.2 5.2 0 0 0 0 7.3l1.8 1.8a5.2 5.2 0 0 0 7.3 0l2.5-2.5 4.6 1.6Z"
      ></path>
    </g>
  </svg>
  <h1>URL Shortener</h1>
</header>

<style>
  :root {
    --size-title-font: min(2.5rem, 11vw);
  }

  header {
    display: flex;
    align-items: center;
    gap: var(--size-base);
  }

  h1 {
    padding: 0;
    font-size: var(--size-title-font);
  }

  svg {
    height: var(--size-title-font);
  }
</style>
