<wc-toast />
<form id="shortener-form">
  <label>
    <span> URL</span>
    <input type="url" name="url" id="url" required autocomplete="off" />
  </label>
  <div class="field-group">
    <label>
      <span> Hash</span>
      <input type="text" name="hash" id="hash" required autocomplete="off" />
    </label>
    <label>
      <span> Auth code</span>
      <input
        type="password"
        name="auth-code"
        id="auth-code"
        required
        autocomplete="one-time-code"
      />
    </label>
  </div>
  <div>
    <label class="checkbox">
      <input type="checkbox" name="overwrite" id="overwrite" />
      <span>Overwrite</span>
    </label>
  </div>
  <button>Shorten</button>
</form>

<script>
  import { toast } from "wc-toast";

  const shortenerForm =
    document.querySelector<HTMLFormElement>("#shortener-form");

  shortenerForm?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const authCode = shortenerForm["auth-code"].value;
    const hash = shortenerForm.hash.value;
    const isOverwriting = shortenerForm.overwrite.checked;
    const url = shortenerForm.url.value;

    const requestOptions = {
      method: isOverwriting ? "PUT" : "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ authCode, hash, url }),
    };

    const { data, error } = await fetch("/api/redirections", requestOptions)
      .then((response) => response.json())
      .catch(() => ({ error: "Something went wrong" }));

    if (error) {
      return toast(error, {
        icon: { type: "error" },
        duration: 5000,
        theme: { type: "dark" },
      });
    }

    const shortenedUrl = data.url;
    await navigator.clipboard.writeText(shortenedUrl);

    shortenerForm.reset();

    return toast("Shortened URL copied to clipboard", {
      icon: { type: "success" },
      duration: 5000,
      theme: { type: "dark" },
    });
  });
</script>

<style>
  form,
  label:not(.checkbox) {
    display: flex;
    flex-direction: column;
  }

  form,
  .field-group {
    gap: calc(var(--size-base) * 2);
  }

  .field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .field-group > label {
    flex-grow: 1;
  }

  label:not(.checkbox) > span {
    font-weight: bold;
  }
</style>
